# Build directories
/build/
/dist/
/out/
/install/
/cmake-build-*/

# CMake
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/compile_commands.json
/Makefile
/CMakeUserPresets.json

# IDEs and editors
/.idea/
/.vscode/*
!/.vscode/c_cpp_properties.json

# OS files
.DS_Store
Thumbs.db

# Native binaries and libraries
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
